.container-card{
    margin-right:16%;
    margin-left:16%;
}

.container-card-info{
    padding: 4% 8% 4% 8%;
}

.container-card-detail{
    padding: 4% 6% 4% 6%;
}

.status-area{
    display: flex;
    justify-content: center;
    margin-top:36px !important;
}

.status-area-icon{
    display:flex;
    align-items: center;
    text-align: center;
}

.status-area-icon-item{
    border-radius: 50%;
}

.status-are-bar hr{
    height: 3px;
}

.barYet{
    border-top: 3px dotted #7a7a7a47;
    border-right: none;
    border-bottom: none;
    border-left: none;
}

.barNow{
    background-color:#7a7a7a47;
}

.barAlready{
    background-color:hsl(141, 71%, 48%);
}



.iconNowAlready{
    background-color:hsl(141, 71%, 48%);
    color:white;
}

.iconYet{
    background-color:#7a7a7a47;
    color:grey;
}

.flex-end{
    display: flex;
    justify-content: flex-end; 
}

.input-width-ss{
    width:64px;
}

.input-width-s{
    width : 80px;
}

.input-width-m{
    width : 240px;
}

.input-width-l{
    width : 360px;
}

.input-width-item{
    width : 48%;
}

.input-width-full{
    width:100%;
}

.hyphen{
    vertical-align: -webkit-baseline-middle;
}