<html>

<head>
    <meta http-equiv="content-type" charset="utf-8">
    <title>受注入力</title>
    <script src="../lib/alasql.min.js"></script>
    <script src="../js/dao.js"></script>
    <script src="../js/redirect.js"></script>
    <script src="../js/initial_data.js"></script>
    <script src="../js/text_def.js"></script>
    <script src="../lib/vue.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../lib/bulma.css">
    <link rel="stylesheet" href="../lib/bulma.css">
    <link rel="stylesheet" href="../css/all_pages.css">
    <link rel="stylesheet" href="../css/order_entry.css">
</head>

<body class="has-background-light">
    <div id="header-nav">
        <header-nav></header-nav>
    </div>
    <div id="status-area" class="columns is-gapless status-area" v-cloak>
        <div class="status-area-icon">
            <span class="icon is-large status-area-icon-item" v-bind:class="InputIconClass">
                <i class="fa fa-edit"></i>
            </span>
        </div>
        <div class="column is-3 status-are-bar">
            <hr v-bind:class="FirstBarClass">
        </div>
        <div class="status-area-icon">
            <span class="icon is-large status-area-icon-item" v-bind:class="ConfirmIconClass">
                <i class="fa fa-file-invoice"></i>
            </span>
        </div>
        <div class="column is-3  status-are-bar">
            <hr v-bind:class="SecondBarClass">
        </div>
        <div class="status-area-icon">
            <span class="icon is-large status-area-icon-item" v-bind:class="SuccessIconClass">
                <i class="fa fa-check"></i>
            </span>
        </div>
    </div>
    <section id="main-content" class="section container-card" v-cloak>
        <div v-if="app_data.status.isInput">
            <p class="title is-4 has-text-grey-light">{{ text.order_info_title }}</p>
            <div class="box has-background-white container-card-info">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label has-text-grey">{{ text.label_corporate_code }}</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control has-icons-left">
                                <input class="input input-width-m" type="text"
                                    v-model="app_data.order_info_dto.corporate_code" :class="CorporateCodeClass"
                                    :placeholder="text.label_corporate_code">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-building"></i>
                                </span>
                            </div>
                            <p class="help is-danger" v-if="app_data.error.corporate_code.hasError">
                                {{ app_data.error.corporate_code.errorMsg }}</p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label has-text-grey">{{ text.label_tanto_info }}</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control has-icons-left">
                                <input class="input" type="text" v-model="app_data.order_info_dto.tanto_department"
                                    :class="TantoDepartmentClass" :placeholder="text.label_tanto_department">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-users"></i>
                                </span>
                            </div>
                            <p class="help is-danger" v-if="app_data.error.tanto_department.hasError">
                                {{ app_data.error.tanto_department.errorMsg }}</p>
                        </div>
                        <div class="field">
                            <div class="control has-icons-left">
                                <input class="input" type="text" v-model="app_data.order_info_dto.tanto_name"
                                    :class="TantoNameClass" 　:placeholder="text.label_tanto_name">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            <p class="help is-danger" v-if="app_data.error.tanto_name.hasError">
                                {{ app_data.error.tanto_name.errorMsg }}</p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control has-icons-left">
                                <input class="input input-width-s" type="tel" v-model="app_data.eda_num.tel_first"
                                    v-on:change="merge_tel" :class="TelClass" :placeholder="text.label_tanto_tel">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-phone"></i>
                                </span>
                                <span class="hyphen"> - </span>
                                <input class="input input-width-s icon-is-nothing" type="tel"
                                    v-model="app_data.eda_num.tel_second" v-on:change="merge_tel" :class="TelClass">
                                <span class="hyphen"> - </span>
                                <input class="input input-width-s icon-is-nothing" type="tel"
                                    v-model="app_data.eda_num.tel_third" v-on:change="merge_tel" :class="TelClass">
                            </div>
                            <p class="help is-danger" v-if="app_data.error.tel.hasError">
                                {{ app_data.error.tel.errorMsg }}</p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control has-icons-left">
                                <input class="input" type="email" v-model="app_data.order_info_dto.mail"
                                    :class="MailClass" 　:placeholder="text.label_tanto_mail">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </div>
                            <p class="help is-danger" v-if="app_data.error.mail.hasError">
                                {{ app_data.error.mail.errorMsg }}</p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label has-text-grey">{{ text.label_delivery_info }}</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control has-icons-left">
                                <input class="input input-width-s" type="tel" v-model="app_data.eda_num.post_first"
                                    :class="PostClass" v-on:change="merge_post">
                                <span class="icon is-small is-left">
                                    <i class="fas">〒</i>
                                </span>
                                <span class="hyphen"> - </span>
                                <input class="input input-width-s icon-is-nothing" type="tel"
                                    v-model="app_data.eda_num.post_second" :class="PostClass" v-on:change="merge_post">
                            </div>
                            <p class="help is-danger" v-if="app_data.error.post.hasError">
                                {{ app_data.error.post.errorMsg }}</p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control has-icons-left">
                                <input class="input" type="text" v-model="app_data.order_info_dto.address"
                                    :class="AddressClass" 　:placeholder="text.label_address">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-map-marked-alt"></i>
                                </span>
                            </div>
                            <p class="help is-danger" v-if="app_data.error.address.hasError">
                                {{ app_data.error.address.errorMsg }}</p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label has-text-grey">{{ text.label_order_date }}</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control has-icons-left">
                                <input class="input input-width-m has-text-grey" type="date"
                                    v-model="app_data.order_info_dto.order_date" :class="OrderDateClass">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-calendar-alt"></i>
                                </span>
                            </div>
                            <p class="help is-danger" v-if="app_data.error.order_date.hasError">
                                {{ app_data.error.order_date.errorMsg }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <p class="title is-4 has-text-grey-light">{{ text.order_item_title }}</p>
            <div class="box has-background-white container-card-detail">
                <div class="notification content is-danger is-small" v-if="app_data.error.detail.hasError">
                    <li v-for="msg in app_data.error.detail.errorMsgs">
                        {{ msg }}
                    </li>
                </div>
                <table class="table is-striped is-hoverable">
                    <thead>
                        <tr>
                            <th class="has-text-grey">{{ text.order_item_num }}</th>
                            <th class="has-text-grey input-width-item">{{ text.order_item_item }}</th>
                            <th class="has-text-grey">{{ text.order_item_price }}</th>
                            <th class="has-text-grey">{{ text.order_item_quantity }}</th>
                            <th class="has-text-grey">{{ text.order_item_amount }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="dto in app_data.order_detail_dtos" v-bind:key="dto.num">
                            <th class="has-text-grey">{{ dto.num }}</th>
                            <td>
                                <div class="select input-width-full">
                                    <select class="input-width-full" v-model="dto.selected_item"
                                        v-on:change="calculate_payment(dto)">
                                        <option value='' selected>{{ text.choose_item }}</option>
                                        <option v-for="item in app_data.items">{{ item.product_name }}</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="control input-width-s">
                                    <input class="input" type="number" v-model="dto.price" disabled>
                                </div>
                            </td>
                            <td>
                                <div class="control input-width-ss">
                                    <input class="input" type="number" v-model="dto.quantity"
                                        v-on:change="calculate_payment(dto)">
                                </div>
                            </td>
                            <td>
                                <div class="control">
                                    <input class="input" type="text" v-model="dto.amount" disabled>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="title is-5 has-text-grey flex-end">{{ text.total_amount }}</p>
                <p class="title is-6 has-text-grey flex-end">{{ text.tax }}</p>
            </div>
        </div>
        <div v-if="app_data.status.isConfirm" class="box has-background-white">
            <div class="field container-card-title">
                <p class="">
                    <strong>{{text.confirm_title}}</strong>
                </p>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">{{text.label_corporate_code}}</label>
                </div>
                <div class="field-body">
                    <div class="inputed-data">
                        <span>{{app_data.order_info_dto.corporate_code}}</span>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal"><label class="label">{{text.label_tanto_info}}</label>

                </div>
                <div class="field-body">
                    <div class="inputed-data">
                        <ol>{{text.label_tanto_department}} : {{app_data.order_info_dto.tanto_department}}</ol>
                        <ol>{{text.label_tanto_name}} : {{app_data.order_info_dto.tanto_name}}</ol>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal"><label class="label">{{text.label_delivery_info}}</label>

                </div>
                <div class="field-body">
                    <div class="inputed-data">
                        <ol>{{text.label_post}} : {{app_data.order_info_dto.post}}</ol>
                        <ol>{{text.label_address}} : {{app_data.order_info_dto.address}}</ol>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">{{text.label_order_date}}</label>
                </div>
                <div class="field-body">
                    <div class="inputed-data">
                        <span>{{app_data.order_info_dto.order_date}}</span>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">{{text.label_order_detail}}</label>
                </div>
                <div class="field-body">
                    <table class="table is-striped is-hoverable is-full-width">
                        <thead>
                            <tr>
                                <th class="has-text-grey">{{ text.order_item_num }}</th>
                                <th class="has-text-grey">{{ text.order_item_item }}</th>
                                <th class="has-text-grey">{{ text.order_item_price }}</th>
                                <th class="has-text-grey">{{ text.order_item_quantity }}</th>
                                <th class="has-text-grey">{{ text.order_item_amount }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="dto in app_data.order_detail_dtos" v-bind:key="dto.num">
                                <th class="has-text-grey">{{dto.num}}</th>
                                <td>
                                    {{dto.selected_item}}
                                </td>
                                <td>
                                    {{dto.price.toString().replace(/(\d)(?=(\d{3})+$)/g, '$1,')}}
                                </td>
                                <td>
                                    {{dto.quantity}}
                                </td>
                                <td>
                                    {{dto.amount.toString().replace(/(\d)(?=(\d{3})+$)/g, '$1,')}} 円
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">{{text.label_total_amount.toString().replace(/(\d)(?=(\d{3})+$)/g, '$1,')}}</label>
                </div>
                <div class="field-body">
                    <div class="inputed-data">
                        <span>{{app_data.order_info_dto.total_amount.toString().replace(/(\d)(?=(\d{3})+$)/g, '$1,')}}円 {{text.tax}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="app_data.status.isSuccess" class="box has-background-white">
            <span class="">{{text.success_message}}{{app_data.order_num}}</span>
        </div>
    </section>
    <div id="go-next" class="container flex-end" v-cloak>
        <a class="button is-primary" :class="GoNextBtnClass" :disabled="loading" 　v-on:click="go_next">{{text}}</a>
        <div class="modal" :class="ModalClass">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="message is-danger">
                    <div class="message-header">
                        エラー
                    </div>
                    <div class="message-body">
                        <li v-for="msg in allErrorMsgs">
                            {{ msg }}
                        </li>
                    </div>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close" v-on:click="close_modal"></button>
        </div>
    </div>
    <footer class="footer has-background-light"></footer>
    <script src="../js/component.js"></script>
    <script src="../js/order_entry.js"></script>
</body>

</html>